<<<<<<< HEAD

.reservationCard {
    width: 530px;
    height: 325px;
    display: flex;
    flex-wrap: wrap;

    
}

.reservationCard h4 {
    margin-top: 20px;
}
#price {
    margin-left: 280px;
    width: 80px;

}

#card, #card2 {
    height: 40px;
    outline: none;
    width: 220px;
}

.reservationCard input {
    margin-top: 0px;
    margin-bottom: 0px;
    height: 40px;
    width: 220px;
}
#cardNumber {
    margin-left: 8px;
    margin-right: 11px;
    margin-top: 10px;
}
#expiry {
    width: 220px;
    margin-left: 5px;
    margin-top: 10px;
}

#cvv {
    width: 150px;
    margin-left: 8px;
    margin-top: 10px;
    
}
#reservationSubmit {
    margin-right: 26px;
    height: 60px;
    margin-bottom: 0px;
    margin-top: 10px;
}

=======
body {
margin: 0;
padding: 0;
}
/* Contactcard landscape */
.contactCard {
    height: 330px;
    width: 600px;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}
.contactCard h4 {
    font-size: 2em;
    margin-right: 20px;
}

.contactCard input {
    width: 165px;
    border-radius: 10px;
    border: 0;
    padding: 6px;
    margin: 5px 5px;
}

.contactCard :nth-child(2) {
    margin: 0px 0;
}

#visitorType {
    border-radius: 10px;
    padding: 8px;
    width: 160px;
    margin-bottom: 0px;
    margin-right: 6px;
}

#email {
    width: 320px;
    margin-left: 0px;
    margin-right: 13px;
}

#telNumber {
    width: 175px;
}

.contactCard textarea {
    margin-right: 34px;
}

#submitBtn {
    height: 55px;
    margin-top: 65px;
}

/* Fin Contactcard landscape */
>>>>>>> origin/contactCard
