
@media screen and (max-height: 700px) {


    body {
        background: green;
    }

.registrationCard {
    display: flex;
    align-items: center;
    flex-direction: column;
    text-align: center;
    background: linear-gradient(197deg, #ff924d 2%, #ff8f4d 6%, #fe8852 14%, #fe6e55 19%, #fe6157 26%, #fe5957 34%, #fd4c59 39%, #f84964 46%, #ef4574 56%, #e74086 64%, #df3d94 69%, #da3a9e 75%, #d337a9 80%, #c834bf 86%, #c034d0 92%);
    border-radius: 20px;
    width: 650px;
    color: white;
    padding: 20px;
    height: 360px;
}

.landscapeRegistrationCard {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    
}

.registrationCard h4 {
    font-weight: bold;
    font-size: 2em;
}

.registrationCard div {
    font-size: 18px;
    margin-bottom: 0.2em;
}

#securityText {
    font-size: 12px;
    padding: 0em 5em;
    font-style: italic;
}

.registrationCard input {
    border-radius: 10px;
    width: 245px;
    margin-bottom: 10px;
    outline: none;
    border: 0;
    padding: 4px;
    margin: 0.2em 1em;
    height: 35px;
}

.registrationCard input:hover {
    background-color: rgb(224, 220, 220);
}

.registrationCard .sub {
width: 150px;
background: #24344D;
color: white;
margin-top: 0.2em;
margin-left: 6.3em;

}
#passwordConfirm {
    
}
.registrationCard .sub:hover {
    background-color: #324564;
    }

}