.body {
    margin: 0;
    padding: 0;

}

/* -----Carte contact */
.contactCard {
    display: flex;
    flex-direction: column;
    width: 360px;
    background: linear-gradient(197deg, #ff924d 2%, #ff8f4d 6%, #fe8852 14%, #fe6e55 19%, #fe6157 26%, #fe5957 34%, #fd4c59 39%, #f84964 46%, #ef4574 56%, #e74086 64%, #df3d94 69%, #da3a9e 75%, #d337a9 80%, #c834bf 86%, #c034d0 92%);
    border-radius: 20px;
    align-items: center;
    color: white;

}
.contactCard :nth-child(2){
  margin: 0;
}
.contactCard input {
    width: 325px;
    border-radius: 10px;
    border: 0;
    padding: 8px;
    margin:5px 0;
}

/* -----Fin de Carte contact */